<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Form</title>
    <style>
        .color_error{
            color:red
        }
    </style>
</head>
<body>

<h1>Company Login</h1>
<!-- Check for login error-->
<div th:if="${param.error}">
    <p class="color_error">Wrong combination of username and password</p>
</div>
<form action="#" th:action="@{/authenticateUser}" method="POST">

    <div>
        <label for="username">Username: </label>
        <input id="username" type="text" name="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password">
    </div>
    <input type="submit" value="Login">

    <a th:href="@{/}">Click here</a>
</form>


</body>
</html>